page-credits {
 .credits-img {
     padding: 0 0;
     img {
         width: 70%;
         margin-bottom: 10px;
     }
 }
 .info {
    padding: 0 0 20px 0;
     .str {
         font-size: 18px;
         text-transform: uppercase;
         color: #01587B;
         font-weight: bold;
         display: block,
     }
     p {
        font-size: 18px;
        color: #01587B;
        margin-bottom: 5px;
        margin-top: 5px;
        strong {
            text-transform: uppercase;
        }
    }
 }
}
