page-about {
    ion-content {
        background: url(../assets/imgs/ern-logo_sfondo.png) no-repeat center center;
        background-size: contain;
    }
    .about-img {
        text-align: center;
        img {
            width: 60%;
        }
    }
    .info {
        padding: 30px 0 20px 0;
        p {
            font-size: 18px;
            text-align: justify;
            line-height: 26px;
            color: #01587B;
            margin-bottom: 5px;
            margin-top: 5px;
            font-weight: bold;
        }
    }
    .social {
        padding: 30px 0 20px 0;
        button {
            padding: 5px 10px!important;
            border: 1px solid #01587B;
            background: transparent;
            color: #01587B;
            border-radius: 5px;
            font-size: 14px;
            width: 55px;
        }
    }
    .button-md:hover:not(.disable-hover) {
        background: transparent;
    }
}
