page-about {
    .about-img {
        text-align: center;
        img {
            width: 60%;
        }
    }
    .info {
        padding: 30px 40px 20px 40px;
        p {
            font-size: 16px;
            line-height: 26px;
            color: #01587B;
            margin-bottom: 5px;
            margin-top: 5px;
            font-weight: bold;
        }
    }
    .social {
        padding: 30px 40px 20px 40px;
        span {
            font-size: 16px;
            color: #01587B;
            margin-bottom: 5px;
            margin-top: 5px;
            font-weight: bold;
            margin-right: 5px;
        }
    }
}
