page-scheda {
    ion-content {
        background: #3b7ab0;
        background: -moz-linear-gradient(top, #3b7ab0 0%, #3697b6 28%, #ffffff 59%);
        background: -webkit-linear-gradient(top, #3b7ab0 0%,#3697b6 28%,#ffffff 59%);
        background: linear-gradient(to bottom, #3b7ab0 0%,#3697b6 28%,#ffffff 59%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b7ab0', endColorstr='#ffffff',GradientType=0 );
        .scroll-content {
            top: 40px!important;
        }
        .email-phone {
            strong {
                display: block;
                width: 100%;
                font-size: 14px;
                font-weight: 900;
                color: #01587B;
                margin-top: 10px;
            }
            span {
                display: block;
                width: 100%;
                font-size: 14px;
                color: #01587B;
                text-transform: capitalize;
                font-weight: 400;
            }
        }
    }

    #disease {
        h2 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            color: #01587b;
        }
    }
    
    ion-list {
        button.item {
            padding-right: 16px;
        }
        .bg0 {
            background: #a7dde2;
        }
        .bg1 {
            background: #dff2f4;
        }
        .bgInternal0 {
            background: #a7dce1;
            background: -moz-linear-gradient(top, #a7dce1 0%, #dcf1f3 100%);
            background: -webkit-linear-gradient(top, #a7dce1 0%,#dcf1f3 100%);
            background: linear-gradient(to bottom, #a7dce1 0%,#dcf1f3 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7dce1', endColorstr='#dcf1f3',GradientType=0 );
        }
        .bgInternal1 {
            background: #dcf1f3;
            background: -moz-linear-gradient(top, #dcf1f3 0%, #ffffff 100%);
            background: -webkit-linear-gradient(top, #dcf1f3 0%,#ffffff 100%);
            background: linear-gradient(to bottom, #dcf1f3 0%,#ffffff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcf1f3', endColorstr='#ffffff',GradientType=0 );
        }
        .list-header {
            margin-bottom: 0!important;
        }
    }
    .accordion-list {
        background: #fff;

    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 0;
    }
    .section-active {
        color: #fff;
    }
 
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: transparent;
        padding: 10px 60px 10px 60px;
        strong {
            font-size: 14px;
            font-weight: 900;
            color: #01587B;
        }
        ul {
            padding-left: 25px;
            li {
                font-size: 14px;
                color: #01587B;
                text-transform: capitalize;
                font-weight: 400;
            }
        }
        .opening-time, .cordinator, .phone, .email {
            font-size: 14px;
            color: #01587B;
            text-transform: capitalize;
            font-weight: 400;
        }
        .phone {
            margin-top: 10px;
        }
        .email {
            margin-top: 10px;
        }
    }
    .label {
        margin: 0px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        color: #01587b;
    }
    .list {
        margin-bottom: 0;
    }
    .blue-color {
        color: #01587B;
        font-weight: bold;
    }
    .small-ico {
        margin: 0!important;
        line-height: 40px;
        font-size: 18px;
    }
    [icon-left] ion-icon, [icon-start] ion-icon {
        padding-right: 20px;
    }
    .action-button {
        margin-top: 30px;
        button {
            background: transparent;
            border: 1px solid #01587B;
            color: #01587B;
            margin: 10px 20%;
            width: 60%;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    #information {
        position: relative;
        padding: 0 60px 20px 60px;
        h1 {
            font-size: 20px; 
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 20px;
            font-weight: bold;
        }
        p {
            color: #fff;
            margin: 2px;
        }
        .social {
            margin-top: 20px;
            span {
                margin-right: 10px;
                color: #fff;
            }
        }
        .button {
            box-shadow: none!important;
            background: transparent;
        }
        .icon-scheda {
            position: absolute;
            top: -14px;
        }
        #favourite {
            left: 5px;
            color: #ffc400;
        }
        #close {
            right: 5px;
        }
    }
}
