page-scheda {


    .fab {
        background: transparent!important;
        box-shadow: none!important;
    }
    .hcp-color {
        background: #3b7ab0;
        background: -moz-linear-gradient(top, #3b7ab0 0%, #3697b6 28%, #ffffff 55%);
        background: -webkit-linear-gradient(top, #3b7ab0 0%,#3697b6 28%,#ffffff 55%);
        background: linear-gradient(to bottom, #3b7ab0 0%,#3697b6 28%,#ffffff 55%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b7ab0', endColorstr='#ffffff',GradientType=0 );
    }

    .ass-color {
        background: #f69127;
        background: -moz-linear-gradient(top, #f69127 0%, #fb8612 28%, #ffffff 52%);
        background: -webkit-linear-gradient(top, #f69127 0%,#fb8612 28%,#ffffff 52%);
        background: linear-gradient(to bottom, #f69127 0%,#fb8612 28%,#ffffff 52%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f69127', endColorstr='#ffffff',GradientType=0 );
    }
    .service-p {
        text-transform: initial;
        font-size: 18px;
     }
    .ios {
        .scroll-content {
            top: 40px!important;
        }
    }

    p {
        font-size: 18px;
    }

    .ios-top[top][edge] {
        top: 45px!important;
    }

    .android-top[top][edge] {
        top: 5px!important;
    }

    .direction_blue {
        background: #3A80B1!important;
        color: #fff!important;
        border: transparent!important;
    }

    .direction_orange {
        background: #FF7D00!important;
        color: #fff!important;
        border: transparent!important;
    }

    .accordion-list {
        .icon {
            font-weight: 100;
            font-size: 35px;
        } 
    }
    .related {
        text-align: center;
        margin-top: 20px;
    }
    .related button {
        width: 100%;
        background: transparent;
        color: #01587B;
        padding: 20px 0!important;
        width: 80%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }
    .relatedAss {
        color: #F29839!important;
    }
    

    ion-content {
        font-size: 18px!important;
        .email-phone {
            strong {
                display: block;
                width: 100%;
                font-size: 18px;
                font-weight: 900;
                color: #01587B;
                margin-top: 10px;
            }
            span {
                display: block;
                width: 100%;
                font-size: 18px;
                color: #01587B;
                text-transform: capitalize;
                font-weight: 400;
            }
        }
    }

    #disease {
        h2 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            color: #01587b;
        }
    }
    
    ion-list {
        button.item {
            padding: 5px 16px 5px 16px;
        }
        .bgHcp0 {
            background: #6FC3CE;
        }
        .bgHcp1 {
            background: #B1DDE4;
        }
        .bgHcp2 {
            background: #E3F2F5;
        }
        .bgAss0 {
            background: #F29839;
        }
        .bgAss1 {
            background: #FACD9F;
        }
        .bgAss2 {
            background: #FDECD9;
        }






        .bgInternalHcp0 {
            background: #6fc3ce;
            background: -moz-linear-gradient(top, #6fc3ce 0%, #b1dde4 100%);
            background: -webkit-linear-gradient(top, #6fc3ce 0%,#b1dde4 100%);
            background: linear-gradient(to bottom, #6fc3ce 0%,#b1dde4 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fc3ce', endColorstr='#b1dde4',GradientType=0 );
        }
        .bgInternalHcp1 {
            background: #b1dde4;
            background: -moz-linear-gradient(top, #b1dde4 0%, #e3f2f5 100%);
            background: -webkit-linear-gradient(top, #b1dde4 0%,#e3f2f5 100%);
            background: linear-gradient(to bottom, #b1dde4 0%,#e3f2f5 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1dde4', endColorstr='#e3f2f5',GradientType=0 );
        }
        .bgInternalHcp2 {
            background: #e3f2f5;
            background: -moz-linear-gradient(top, #e3f2f5 0%, #ffffff 100%);
            background: -webkit-linear-gradient(top, #e3f2f5 0%,#ffffff 100%);
            background: linear-gradient(to bottom, #e3f2f5 0%,#ffffff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f2f5', endColorstr='#ffffff',GradientType=0 );
        }
        .bgInternalAss0 {
            background: #f29839;
            background: -moz-linear-gradient(top, #f29839 0%, #facd9f 100%);
            background: -webkit-linear-gradient(top, #f29839 0%,#facd9f 100%);
            background: linear-gradient(to bottom, #f29839 0%,#facd9f 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29839', endColorstr='#facd9f',GradientType=0 );
        }
        .bgInternalAss1 {
            background: #facd9f;
            background: -moz-linear-gradient(top, #facd9f 0%, #fdecd9 100%);
            background: -webkit-linear-gradient(top, #facd9f 0%,#fdecd9 100%);
            background: linear-gradient(to bottom, #facd9f 0%,#fdecd9 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#facd9f', endColorstr='#fdecd9',GradientType=0 );
        }
        .bgInternalAss2 {
            background: #fdecd9;
            background: -moz-linear-gradient(top, #fdecd9 0%, #ffffff 100%);
            background: -webkit-linear-gradient(top, #fdecd9 0%,#ffffff 100%);
            background: linear-gradient(to bottom, #fdecd9 0%,#ffffff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdecd9', endColorstr='#ffffff',GradientType=0 );
        }

        .list-header {
            margin-bottom: 0!important;
            background: none;
            border: none;
        }
    }
    .accordion-list {
        background: #fff;

    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 0;
    }
    .section-active {
        color: #fff;
    }
 
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: transparent;
        padding: 10px 60px 10px 60px;
        strong {
            font-size: 18px;
            font-weight: 900;
            color: #01587B;
        }
        ul {
            padding-left: 25px;
            li {
                font-size: 18px;
                color: #01587B;
                text-transform: capitalize;
                font-weight: 400;
            }
        }
        .opening-time, .cordinator, .phone, .email {
            font-size: 18px;
            color: #01587B;
            text-transform: capitalize;
            font-weight: 400;
        }
        .phone {
            margin-top: 10px;
        }
        .email {
            margin-top: 10px;
        }
    }
    .label {
        margin: 0px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        color: #01587b;
    }
    .list {
        margin-bottom: 0;
    }
    .blue-color {
        color: #01587B;
        font-weight: bold;
    }
    .small-ico {
        margin: 0!important;
        line-height: 40px;
        font-size: 18px;
    }
    [icon-left] ion-icon, [icon-start] ion-icon {
        padding-right: 20px;
    }
    .action-button {
        margin-top: 30px;
        button {
            font-family: 'Releway-Regular-Bold'!important;
            background: transparent;
            border: 1px solid #01587B;
            color: #01587B;
            margin: 10px 20%;
            width: 60%;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    #information {
        position: relative;
        padding: 0 60px 20px 60px;
        h1 {
            font-size: 20px; 
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 20px;
            font-weight: bold;
        }
        p {
            color: #fff;
            margin: 2px;
        }
        .social {
            margin-top: 20px;
            button {
                border: 1px solid #fff;
                border-radius: 10px;
                width: 55px;
            }
        }
        .button {

            box-shadow: none!important;
            background: transparent;
        }
        .icon-scheda {
            position: absolute;
            top: -14px;
        }
        #favourite {
            left: 5px;
            color: #ffc400;
        }
        
    }
}
