page-related {

    .toolbar-title-md {
        margin-right: 54px;
    }
    .android {
        top: 0!important;

    }
    .ios {
        top: 50px!important;

    }

    .hcp {
        background: #a4cede;
        background: -moz-linear-gradient(top, #a4cede 0%, #ffffff 100%);
        background: -webkit-linear-gradient(top, #a4cede 0%,#ffffff 100%);
        background: linear-gradient(to bottom, #a4cede 0%,#ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4cede', endColorstr='#ffffff',GradientType=0 );
    }

    .association {
        background: #FEC68F;
        background: -moz-linear-gradient(top, #FEC68F 0%, #ffffff 100%);
        background: -webkit-linear-gradient(top, #FEC68F 0%,#ffffff 100%);
        background: linear-gradient(to bottom, #FEC68F 0%,#ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEC68F', endColorstr='#ffffff',GradientType=0 );
    }

    .back-button {
        color: #fff!important;
    }
    
    .scroll-content {
        margin-top: 95px!important;
        padding: 20px 40px!important;

        .box {
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            padding: 20px 50px 20px 20px;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            position: relative;
            min-height: 150px;
        }

        .box-ass {
            background: #f69127;
            background: -moz-linear-gradient(top, #f69127 0%, #fb8612 50%, #ff7d00 100%);
            background: -webkit-linear-gradient(top, #f69127 0%,#fb8612 50%,#ff7d00 100%);
            background: linear-gradient(to bottom, #f69127 0%,#fb8612 50%,#ff7d00 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f69127', endColorstr='#ff7d00',GradientType=0 );
        }

        .box-hcp {
            background: #3b7eb1;
            background: -moz-linear-gradient(top, #3b7eb1 0%, #33a3b9 55%, #32aaba 100%);
            background: -webkit-linear-gradient(top, #3b7eb1 0%,#33a3b9 55%,#32aaba 100%);
            background: linear-gradient(to bottom, #3b7eb1 0%,#33a3b9 55%,#32aaba 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b7eb1', endColorstr='#32aaba',GradientType=0 );
        }

        #goto-scheda {
            position: absolute;
            top: 0px;
            right: -10px;
            font-size: 30px;
            height: auto !important;
            padding: 10px 20px;
            background: transparent;
            box-shadow: none!important;
            color: #fff;
          }

    }
}
