page-search-result {
    ion-content {
        background: url(../assets/imgs/ern-logo_sfondo.png) no-repeat center;
        background-size: contain;
    }
    .scroll-content {
        padding: 60px!important;
        display: flex;
        flex-direction: column;
    }
    h1 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        color: #01587B;
    }
    .btn-call-to-action {
        width: 100%;
        background: transparent;
        border: 1px solid #01587B;
        color: #01587B;
        padding: 0 10px;
        font-size: 18px;
    }
    p {
            font-size: 18px;
            color: #3982B2;
            text-transform: uppercase;
        }
    .ctn-call {
        position: absolute;
        bottom: 40px;
        left: 10%;
        width: 80%;
    }
    .gotomap {
        background: #01587B;
        color: #fff;
    }

    .gotomap:hover, .gotoorpha:hover {
        background: #71c8cf!important;
        border: 1px solid #71c8cf;
        color: #01587B;
    }
    .gotomap:active, .gotoorpha:active {
        background: #71c8cf!important;
        border: 1px solid #71c8cf;
        color: #01587B;
    }


}
